.hide-my-folders-selected-gm::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #868686 10px, #868686 20px);
    z-index: 999;
    opacity: 0.2;
    pointer-events: none;
}